@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background-image: url(https://img.freepik.com/free-photo/thunderstorm-countryside_23-2151762533.jpg?t=st=1725635705~exp=1725639305~hmac=b22096b815a698a66e8f4d20adfed1972956e0e2b56f120d1f092494a2a33936&w=1380);
    background-repeat: no-repeat;
    background-size: cover;
}